body {
  margin:0;
  padding: 0; 
}
#map {
  left: 0;
  /* min-width: 830px; */
  right: 0;
  bottom: 0;
  top: 0;
  position: absolute;
  z-index: 1;
}
.ol-attribution {
  display: none
}
.ol-zoom {
  display: none;
}

.menu {
  width:280px;
  position: absolute;
  left: -280px;
  background: white;
  z-index: 2;
}

.collaps_Menu {
  position: absolute;
  width: 38px;
  height: 38px;
  top: 0;
  left: 0;
  background: url(https://demo.orbismap.com/static/previewer/light/images/mobile_menu.svg) center no-repeat !important;
  z-index: 2;
}