body {
  margin:0;
  padding: 0; 
}
#map {
  left: 0;
  /* min-width: 830px; */
  right: 0;
  bottom: 0;
  top: 0;
  position: absolute;
  z-index: 1;
}
.ol-attribution {
  display: none
}
.ol-zoom {
  display: none;
}

#Authorized .modal-body .form{
  padding-top: 20px;
  padding-bottom: 20px;
  width: 280px;
  margin: 0 auto;
}